/* ========================= Police d'écriture =========================*/

@font-face {
    font-family: biko;
    src: url('../fonts/Biko_Regular.otf'),
    url('../fonts/Biko_Bold.otf'),
    url('../fonts/Biko_Black.otf');
}

h2,h3,h4,h5,h6 {
    font-family: Biko, serif;
}
p,a {
    font-family: Calibri, sans-serif;
    color: #626A71;
}

h1 {
    font-size: 64px;
    font-family: Biko_Black, sans-serif;
}

h2 {
    font-size: 35px;
    margin-top: 0;
}

h3 {
    font-size: 28px;
}

p {
     font-size: 18px;
     font-weight: lighter;
 }

.centre {
    text-align: center;
}

.savoir-plus {
     font-weight: bold;
 }

@media screen and (max-width:640px) {
    h1 {font-size: 36px;}
    h2 {font-size: 25px;}
    p{font-size: 15px;}
    .centre {
        text-align: left;
    }
}

/* ========================= Général =========================*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
}

                    /*============ Détails ===========*/

li {
    list-style: none;
}

a {
    text-decoration: none;
}

                    /*========= Mise en page =========*/

.img-background{
    width: 100%;
}

.principale {
    width: 960px;
    margin: 30px auto;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index:3;
}

.moitie{
    width: 50%;
}

@media screen and (max-width: 960px){
    .principale{width: 100%;
                padding: 15px;
                z-index:3;}

}

@media screen and (max-width: 640px){
    .moitie{width: 100%;}
}

                    /*===== gestion des colonnes =====*/

.col-2-img {
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.col-2-img > div:first-of-type {
    width: 630px;
    height: 350px;
    vertical-align: top;
    overflow: hidden;
}

div > img {
    width: 100%;
    height: auto;
}

.col-2-img > div {
    width: 310px;
    vertical-align: top;
}

.containerx3 {
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.containerx3 > div {
    width: 300px;
    height: auto;
    vertical-align: top;
    overflow: hidden;
    margin-bottom: 20px;
}

.containerx3 > div > img {
    width: 300px;
    height: 300px;
    background-color: lightgrey;
}

.col-2-txt {
    display: flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

.col-2-txt > div:last-of-type {
    width: 630px;
    height: 350px;
    vertical-align: top;
    overflow: hidden;
    background-color: lightgrey;
}

.col-2-txt > div {
    width: 310px;
    vertical-align: top;
}

@media screen and (max-width: 640px){
    .col-2-img > div:first-of-type {
        width: 100%;
        height: auto;
    }
    .col-2-txt > div:last-of-type {
        width: 100%;
        height: auto;
    }
    .containerx3 > div {
        width: 100%;
        height: auto;
    }
    .containerx3 > div > img {
        width: 100%;
        height: auto;
        background-color: lightgrey;
    }
}

                    /*=========== Couleurs ===========*/

.blanc{
    color: white;
}

.noir{
    color: black;
}

.bleu-fonce{
    color: #056AB0;
}

.bleu-clair{
    color: #078ACC;
}

.orange{
    color: #DC931A;
}

.vert{
    color: #B7C72A;
}

.violet{
    color: #981B79;
}

.gris{
    color: #626A71;
}

/* ========================= Spécifique =========================*/

                    /*========= gestion images =========*/

.img-head{
    position: relative;
    display: flex;
    align-items:center;
    flex-direction: column;
    padding-top:20%;
    padding-bottom:20%;
}

.img-head > h1,
.img-head > img {
    z-index: 3;
}

.img-background {
    position: relative;
    display: flex;
    align-items:center;
    flex-direction: column;
    padding-top:15%;
    padding-bottom:15%;
}

h2.blanc {
    border-top: 2px solid white;
    width: 25%;
    padding-top: 3px;
}

                    /*=========== Page campus ===========*/

.campus {
    background: url("image-contenu/img-head/viecampus.jpeg") no-repeat center;
    background-size: cover;
    width: 100%;
    height:auto;
}

.campus::before {
    content: "";
    background-color: rgba(183,199,42,0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.campus2 {
    background: url("image-contenu/img-head/associations.jpeg") no-repeat fixed;
    background-size: cover;
    width: 100%;
    height:auto;
}

.campus2::before {
    content: "";
    background-color: rgba(183,199,42,0.7);
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}

                    /*=========== Page recherche ===========*/

.recherche{
    background: url("image-contenu/img-head/recherche.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height:auto;
}

.recherche::before {
    content: "";
    background-color: rgba(152,27,121,0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.recherche2 {
    background: url("image-contenu/img-head/labo.jpeg") no-repeat fixed;
    background-size: cover;
    width: 100%;
    height:auto;
}

.recherche2::before {
    content: "";
    background-color: rgba(152,27,121,0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}

                    /*============= Page UBFC =============*/

.ubfc{
    background: url("image-contenu/img-head/ubfc.jpeg") no-repeat center;
    background-size: cover;
    width: 100%;
    height:auto;
}

.ubfc::before {
    content: "";
    background-color: rgba(5,106,176,0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.ubfc2 {
    background: url("image-contenu/img-head/direction.jpeg") no-repeat fixed;
    background-size: cover;
    width: 100%;
    height:auto;
}

.ubfc2::before {
    content: "";
    background-color: rgba(5,106,176,0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}

                    /*========= Page international =========*/

.international{
    background: url("image-contenu/img-head/International.jpeg") no-repeat center;
    background-size: cover;
    width: 100%;
    height:auto;
}

.international::before {
    content: "";
    background-color: rgba(220,147,26,0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.international2 {
    background: url("image-contenu/img-head/international 2.jpeg") no-repeat fixed;
    background-size: cover;
    width: 100%;
    height:auto;
}

.international2::before {
    content: "";
    background-color: rgba(220,147,26,0.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}