nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
}

nav > ul{
    margin: 5px;
    padding: 0;
    list-style-type: none;
}

nav > ul > li{
    display: inline;
    margin: 0 5px 0 5px ;
}

nav > ul > li > a{
    color: black;
    text-decoration: none;
}

nav > ul > li > a.image-nav{
    display: inline-block;
    text-indent: -999999px;
    height: 25px;
    width: 25px;
    background-size: auto;
}

.facebook{
    background: url('image-contenu/img-reseaux-sociaux/facebook.svg') no-repeat;
}

.twitter{
    background: url('image-contenu/img-reseaux-sociaux/twitter.svg') no-repeat;
}

.youtube{
    background: url('image-contenu/img-reseaux-sociaux/youtube.svg') no-repeat;
}

nav .barres {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 501;
    margin: 5px;
}
nav .barre {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #056AB0;
    margin: 4px 0;
    transition: all ease 500ms;
}

ul.menu{
    margin-right: 30px;
}

nav .menucache{
    background-color: #056AB0;
    color: white;
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100vh;
}

nav .menucache .barre2{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;
}

nav .menucache .barre1{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 0;
}

nav .menucache .barre1 h1{
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    font-family: Biko, sans-serif;
}

nav .menucache .barre1 input{
    border: none;
    padding: 5px;
}

nav .menucache .barre1 i{
    margin: 0 10px;
}

ul.sousmenu:nth-of-type(5n+0){
    background-color: #078ACC;
}

ul.sousmenu:nth-of-type(5n+0) li:hover{
    background-color: #035984;
}

ul.sousmenu:nth-of-type(5n+1){
    background-color: #981B79;
}

ul.sousmenu:nth-of-type(5n+1) li:hover{
    background-color: #590f46;
}

ul.sousmenu:nth-of-type(5n+2){
    background-color: #DC931A;
}

ul.sousmenu:nth-of-type(5n+2) li:hover{
    background-color: #91600f;
}

ul.sousmenu:nth-of-type(5n+3){
    background-color: #626A71;
}

ul.sousmenu:nth-of-type(5n+3) li:hover{
    background-color: #3b4044;
}

ul.sousmenu:nth-of-type(5n+4){
    background-color: #B7C72A;
}

ul.sousmenu:nth-of-type(5n+4) li:hover{
    background-color: #5d6614;
}

nav .menucache ul li{
    padding: 5px;
    list-style-type: none;
}

nav .menucache>.barre2>ul>li:first-of-type{
    font-size: 1.5rem;
}


nav .menucache ul li.sousmenu2{
    font-size: 0.75rem;
}

nav .menucache ul.sousmenu{
    vertical-align: top;
    margin:0;
    padding: 0;
    width: 100%;
}

nav .menucache ul li a{
    color: white;
    text-decoration: none;
}

/*================== footer ================*/

footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 30px;
}

footer p{
    margin: 0;
    padding: 0;
}

.footer-logo p.logo-footer{
    margin: auto;
    display: block;
    text-indent: -999999px;
    height: 200px;
    width: 150px;
    background-size: auto;
    background: url('../image-interface/logofooter.svg') no-repeat;
}

footer .footer{
    width: 25%;
    text-align: center;

}

footer .footer-partenaire li{
    display: inline;
}

footer .footer-partenaire .logo-partenaire{
    margin: auto;
    display: inline-block;
    text-indent: -999999px;
    height: 70px;
    width: 100px;
    background-size: contain;
}

footer .footer-partenaire .partenaire1{
    background-image: url('../image-interface/logo-institut/logo_ub.jpg');
    background-repeat: no-repeat;
}
footer .footer-partenaire .partenaire2{
    background-image: url('../image-interface/logo-institut/logo_ufc.png');
    background-repeat: no-repeat;
}
footer .footer-partenaire .partenaire3{
    background-image: url('../image-interface/logo-institut/logo_agrosup.png');
    background-repeat: no-repeat;
}
footer .footer-partenaire .partenaire4{
    background-image: url('../image-interface/logo-institut/logo_ensmm.jpg');
    background-repeat: no-repeat;
}
footer .footer-partenaire .partenaire5{
    background-image: url('../image-interface/logo-institut/logo_utbm.jpg');
    background-repeat: no-repeat;
}
footer .footer-partenaire .partenaire6{
    background-image: url('../image-interface/logo-institut/logo_bsb.png');
    background-repeat: no-repeat;
}